/* defaults */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: auto;
  }
}

/* theme definitions */
/* dark mode toggle style based on https://endtimes.dev/no-javascript-dark-mode-toggle/ */
:root {
  --bg: hsla(161, 62%, 95%, 1);
  --text: hsla(216, 22%, 23%, 1);
  --link: hsla(341, 40%, 42%, 1);
  --accent: hsla(160, 25%, 61%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsla(216, 22%, 23%, 1);
    --text: hsla(161, 62%, 95%, 1);
    --link: hsla(160, 25%, 61%, 1);
    --accent: hsla(341, 40%, 42%, 1);
  }
}

#color-toggle:checked ~ .theme-wrapper {
  --bg: hsla(216, 22%, 23%, 1);
  --text: hsla(161, 62%, 95%, 1);
  --link: hsla(160, 25%, 61%, 1);
  --accent: hsla(341, 40%, 42%, 1);
}

@media (prefers-color-scheme: dark) {
  #color-toggle:checked ~ .theme-wrapper {
    --bg: hsla(161, 62%, 95%, 1);
    --text: hsla(216, 22%, 23%, 1);
    --link: hsla(341, 40%, 42%, 1);
    --accent: hsla(160, 25%, 61%, 1);
  }
}

/* element styling */
h1 {
  margin-top: 0;
}

#color-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.1rem;
  width: 1.1rem;
  accent-color: var(--link);
  z-index: 100;
}

header,
article,
footer,
.section-title {
  padding: 1rem;
}

header {
  width: 100%;
}

.theme-wrapper {
  min-height: 100vh;
  display: grid;
  /* header, main, footer */
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--bg);
  color: var(--text);
  font-family: monospace;
}

a:link,
a:visited {
  color: var(--link);
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

main {
  border-bottom: solid 2px var(--accent);
}

section {
  display: none;
}

.section-title {
  background-color: var(--link);
  color: var(--bg);
  border-bottom: solid 2px var(--accent);
}

:target {
  display: block;
  height: 100%;
}
